{{#models}}{{#model}}#include "{{classname}}.h"
#include "serialization.h"
#include "utility.h"

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

{{#isEnum}}
{{>enumClassSource}}
{{/isEnum}}
{{^isEnum}}
{{>source}}
{{/isEnum}}

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}
{{/model}}
{{/models}}
