{{#models}}{{#model}}#ifndef {{modelHeaderGuardPrefix}}_{{classname}}_H_
#define {{modelHeaderGuardPrefix}}_{{classname}}_H_

#include "serialization.h"

{{#hasOptional}}#include <optional>
{{/hasOptional}}

{{#imports}}{{{this}}}
{{/imports}}

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

{{#description}}/**
 * \brief {{description}}
{{#example}} *
 * Example: {{example}}
{{/example}}
 */
{{/description}}
struct {{classname}} {
    static const char *dtoName() { return "swagger::dto::{{classname}}"; }

{{#hasEnums}}    // enums
{{#vars}}{{#isEnum}}{{#description}}    /**
     * \brief {{description}}
     */
{{/description}}
    enum {{enumName}} {
{{#allowableValues}}{{#enumVars}}        {{name}},
{{/enumVars}}{{/allowableValues}}    };
{{/isEnum}}
{{/vars}}
{{/hasEnums}}

{{#hasRequired}}    // required fields
{{#requiredVars}}
{{^isEnum}}    {{{datatype}}} {{baseName}};
{{/isEnum}}
{{#isEnum}}    {{enumName}} {{baseName}};
{{/isEnum}}
{{/requiredVars}}
{{/hasRequired}}

{{#hasOptional}}    // optional fields
{{#optionalVars}}
{{^isEnum}}    std::optional<{{{datatype}}}> {{baseName}};
{{/isEnum}}
{{#isEnum}}    std::optional<{{enumName}}> {{baseName}};
{{/isEnum}}
{{/optionalVars}}
{{/hasOptional}}
};

void to_json(nlohmann::json& j, const {{classname}}& obj) {
    j = nlohmann::json{
{{#vars}}        {"{{baseName}}", obj.{{baseName}}},
{{/vars}}
    };
}

void from_json(const nlohmann::json& j, {{classname}}& obj) {
{{#requiredVars}}    j.at("{{baseName}}").get_to(obj.{{baseName}});
{{/requiredVars}}
{{#optionalVars}}    detail::to_optional(j, "{{baseName}}", obj.{{baseName}});
{{/optionalVars}}
}

{{#modelNamespaceDeclarations}}
}  // namespace {{this}}
{{/modelNamespaceDeclarations}}

{{#hasEnums}}
namespace nlohmann {

{{#vars}}
{{#isEnum}}
template<>
struct adl_serializer<{{#modelNamespaceDeclarations}}{{this}}::{{/modelNamespaceDeclarations}}{{classname}}::{{enumName}}> {
  private:
    using {{classname}} = {{#modelNamespaceDeclarations}}{{this}}::{{/modelNamespaceDeclarations}}{{classname}};

  public:
    static void to_json(json& j, const {{classname}}::{{enumName}}& value) {
        switch (value) {
{{#allowableValues}}
{{#enumVars}}
        case {{classname}}::{{enumName}}::{{name}}:
            j = "{{name}}";
            return;
{{/enumVars}}
{{/allowableValues}}
        }
        UNREACHABLE_CODE
    }

    static void from_json(const json& j, {{classname}}::{{enumName}}& value) {
        // TODO: there are some iffy assumptions about casing here
        const std::string s = j.get<std::string>();
        std::string all_caps;
        std::transform(s.cbegin(), s.cend(), std::back_inserter(all_caps), ::toupper);

{{#allowableValues}}
{{#enumVars}}
        if (all_caps == "{{name}}") {
            value = {{classname}}::{{enumName}}::{{name}};
            return;
        }
{{/enumVars}}
{{/allowableValues}}
        throw {{#modelNamespaceDeclarations}}{{this}}::{{/modelNamespaceDeclarations}}invalid_enum_value(s);
    }
};

{{/isEnum}}
{{/vars}}
} // namespace nlohmann
{{/hasEnums}}

#endif /* {{modelHeaderGuardPrefix}}_{{classname}}_H_ */
{{/model}}
{{/models}}
